/*----- Layout Containers -----*/
.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*----- Header Layout -----*/
#navbar-root {
  position: sticky;
  top: 0;
  z-index: 100;
}

/*----- Main Content Area -----*/
main {
  min-height: 100vh;
  padding: 1rem;
}

/*----- Footer Layout -----*/
footer {
  background-color: var(--white-background-light);
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

footer .author {
  font-style: italic;
}

footer .project-rights {
  font-weight: bold;
}

/* Added for future pages */
/* .auth-container {
  max-width: 500px;
  margin: 5rem auto;
  padding: 2rem;
  background: var(--white-background-light);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} */
