#this is an example of the .env file for postgres yaml file.
#make an excact copy of it in ./.env to use it in docker-compose.

PGPASSWORD=password
PGUSER=forum
PGDATABASE=forumdb
PGHOST=localhost
PGPORT=5432

PG_VOLUME=postgres_data:/var/lib/postgresql/data
PG_URL="postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}?sslmode=disable"
